@import "mixin";
.btn {
  @include btn;
}
.input-form {
  @include input($width: 350px, $border: 2px solid $btn-primary);
}
.input-form-white {
  @include input($bg: white, $border: 1px solid $bg-primary);
}

// Bouton card
.btn__card {
  font-size: 12px;
  background: #f1bc1e;
  box-shadow: 0px 0px 12px rgba(186, 153, 105, 0.23),
    0px 0px 64px rgba(186, 153, 105, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  border: none;
  font-family: $WorkSans-Bold;
  width: 150px;
  height: 30px;
  // padding-inline: 10px;
  align-self: flex-end;
}