@import "mixin";
.btn {
  @include btn;
}
.input-form {
  @include input($width: 350px, $border: 2px solid $btn-primary);
}
.input-form-white {
  @include input($bg: white, $border: 1px solid $bg-primary);
}

// Bouton card
.btn__card {
  background-color: #f1bc1e;
  padding: 13px 13px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  text-decoration-line: none;
  transition: 0.3s;
  box-shadow: 0px 0px 3px rgb(186 153 105 / 23%), 0px 0px 15px rgb(186 153 105 / 50%);;
}
.btn__card:hover{
  background-color: #ffffff;
  transition: 0.3s;
}