.card {
    width: 320px;
    background-color: grey;
    border-radius: 5px;
    font-family: WorkSans-Regular;
    color: white;
  }
  
  .card img {
    width: inherit;
  }
  
  .card__description {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .card__description--text {
    height: 60px;
  }

  .card__description--text p {
    margin: 0;
  }
  

