@font-face {
  font-family: "enchanted-land";
  src: url(/Public/font/enchanted-land.woff);
}

@font-face {
  font-family: "WorkSans-Bold";
  src: url(/Public/font/WorkSans-Bold.woff);
}

@font-face {
  font-family: "WorkSans-LightItalic";
  src: url(/Public/font/WorkSans-LightItalic.woff);
}

@font-face {
  font-family: "WorkSans-Regular";
  src: url(/Public/font/WorkSans-Regular.woff);
}
