.footer {
  padding-top: 20px;
  color: $bg-secondary;
  background-color: $bg-primary;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 50px;
  padding-inline: 30px;

  &__element {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &__payment {
      width: calc(100% / 3.5);
      display: flex;
      flex-direction: column;

      &--img {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }
    }
    &__contact {
      width: calc(100% / 3.5);
      display: flex;
      flex-direction: column;
      address {
        font-size: 22px;
      }
    }
    &__find--us {
      width: calc(100% / 3.5);

      display: flex;
      flex-direction: column;
      &__img {
        justify-content: space-between;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .copyright {
    display: flex;
    flex-direction: column;
  }
}
