.footer {
  padding-top: 20px;
  color: $bg-secondary;
  background-color: $bg-primary;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 50px;
  padding-bottom: 50px;

  &__element {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 50px;
    &__payment {
      width: calc(100% / 3.5);
      display: flex;
      flex-direction: column;

      &--img {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }
    }
    &__contact {
      width: calc(100% / 3.5);
      display: flex;
      flex-direction: column;
      address {
        font-size: 22px;
      }
    }
    &__find--us {
      width: calc(100% / 3.5);

      display: flex;
      flex-direction: column;
      &__img {
        justify-content: space-between;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .copyright {
    display: flex;
    flex-direction: column;
  }
  section {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  h2 {
    font-size: 40px;
  }
  
}


