.dropbtn {
  // background-color: #3498db;
  // color: white;
  // padding: 16px;
  // font-size: 16px;
  border: none;
  cursor: pointer;
}

// .dropbtn:hover,
// .dropbtn:focus {
//   background-color: #2980b9;
// }

.dropdown {
  position: relative;
  display: inline-block;
  .form-switch {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  right: 0px;
  min-width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: lighten($primary, 10);
  color: #fff;
}

.show {
  display: block;
}
.popover {
  z-index: 99999999999;
}
.content-notif {
  width: 100%;
  .content-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .content-img {
      margin-right: 5px;
      img {
        border-radius: 50%;
      }
    }
    .content-name p {
      font-weight: 700;
      margin-bottom: 0 !important;
    }
  }
  .content-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/**/
