.form--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  .form {
    display: flex;
    justify-content: space-between;
    border: 1px solid $bg-primary;
    flex-flow: column nowrap;
    padding: 20px;
    gap: 20px;
    width: 500px;
    &__control {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__submit {
      margin: 0 auto;
    }
  }
}
