.my-40 {
  margin: 40px 0 40px 0;
}
.mb-40 {
  margin-bottom: 40px;
}
.m-0 {
  margin: 0;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40-mx-10 {
  margin: 2.5rem 0 2.5rem 0;
}
.mxy-40 {
  margin: 0 20px 0 20px;
}
.ml-20 {
  margin-left: 1.25rem;
}
.mr-20 {
  margin-right: 1.25rem;
}
.modal-more {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.text-danger {
  color: $danger;
}
.text-warning {
  color: $warning;
}
.element {
  display: list-item;
  background: red;
  list-style: none;
}
.alert {
  //background-color: red;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.btn-secondary {
  background: $secondary;
}
