//colors

$white: #ffff;
$secondary: #F1BC1E;
$primary: rgba(0, 0, 0, 0.81);
$stroke:  linear-gradient(101.84deg, #CCCCCC 0%, rgba(0, 0, 0, 0.442708) 53.65%, #CCCCCC 100%);
$blue:    #48aec4;
$indigo:  #4c5680;
$purple:  #8965e0;
$pink:    #C96480;
$red:     #FA5252;
$orange:  #FF9F89;
$brown:   #b9a084;
$yellow:  #f5b759;
$yellow-alt:#fde9ca;
$green:   #05A677;
$teal:    #1E90FF;
$cyan:    #63b1bd;
$soft-indigo:#f5e8ff;
$soft-green: #2CA58D;




//font 



