@import "font";

//   --font-family: "Mulish", sans-serif;
$bg-primary: #0a0808;
$bg-secondary: #ededed;
$border: #ddd;
$btn-primary: #f1bc1e;
$shadow: 10px 10px 4px rgba(245, 209, 13, 0.5);

// alert
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

// autre
$border-radius: 10px;

//   declaration des fonts
$enchanted: "enchanted-land";
$WorkSans-Bold: "WorkSans-Bold";
$WorkSans-LightItalic: "WorkSans-LightItalic";
$WorkSans-Regular: "WorkSans-Regular";
