@import "reset";
@import "typo";
@import "variables";
@import "utilities";
@import "media-queries";
@import "animation";
@import "button";
@import "header";
@import "banner";
@import "footer";
@import "form";
@import "register";
@import "profil";
@import "alert";

.artwork {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  font-size: 28px;
  padding: 20px;
  background-color: $bg-primary;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &--img {
      // width: 300px;
      height: 300px;
      &__leaf {
        object-fit: cover;
      }
    }
  }
  &__scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &--galerie {
      &__img {
        padding: 10px 10px;
        margin-right: 10px;
        object-fit: cover;
        max-height: 350px;
        border-radius: 20px;
        filter: drop-shadow(10px 10px 4px rgba(55, 55, 55, 0.5));
      }
    }
  }
}

.flex-item-left,
.flex-item-right {
  padding: 10px;
  flex: 50%;
  color: white;
}

/*SVG VAGUE*/
.svg {
  z-index: -1;
  position: relative;
  height: 150px;
}

.svg svg {
  top: -208px;
  left: -20%;
  z-index: -1;
  position: absolute;
  width: -webkit-fill-available;
}

.svg > svg g {
  transform: scale(1.2);
  position: absolute;
}
// BEST SELLER

.best-seller {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.best-seller h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.best-seller__cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.btn__best-seller {
  // width: 550px;
  margin: auto;
  margin-block: 50px;
  padding: 15px;
}

.best-seller {
  padding-inline: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.best-seller h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.best-seller__cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.btn__best-seller {
  // width: 550px;
  margin: auto;
  margin-block: 50px;
  padding: 15px;
}

// CONFIANCE
.confiance {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  font-family: WorkSans-regular;
}

.confiance__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.confiance__card img {
  width: 100px;
  height: 100px;
}

.confiance__card p {
  display: flex;
  text-align: center;
  margin-block: 0;
}

.confiance__card--title {
  font-weight: 600;
}

.confiance__card--text {
  display: flex;
  align-content: center;
}

// CUSTOM
.custom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 50px 35px;
  margin-block: 50px;
}

.custom__text {
  width: 540px;
  // min-width: 470px;
}

.custom h2 {
  margin: 0;
}

.custom p {
  font-family: WorkSans-regular;
  font-size: 18px;
  margin: 0;
}

.custom .btn {
  margin-block: 30px;
}

.custom img {
  width: 400px;
}

.math-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: black;
  color: white;
  height: 400px;
  margin: 50px 35px;
  padding: 20px;
}

.math-description h3 {
  margin: 0;
  font-size: 40px;
}

.flex {
  display: flex;
}

@media (max-width: 600px) {
  .btn__best-seller {
    width: 300px;
  }
}

@media (max-width: 1025px) {
  .custom {
    justify-content: center;
  }
  .custom__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  .custom .btn {
    margin-top: 50px;
  }
}
//math the printer
.math-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  height: 400px;
  margin: 50px 35px;
}
@media (max-width: 1025px) {
  .math-description h3 {
    margin: 0;
    font-size: 40px;
  }

  .math-description p {
    text-align: center;
  }
}

@media (max-width: 635px) {
  .svg svg {
    top: -238px;
  }
}
@media (min-width: 1785px) {
  .svg {
    transform: scale(1.5);
    z-index: -1;
    transition: 0.3s;
  }

  * {
    overflow-x: clip;
  }
  P {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .banner {
    p {
      font-size: 28px;
    }
  }
}
@media (max-width: 800px) {
  .artwork {
    flex-direction: column;
    gap: 20px;
  }
  .artwork__content--img {
    display: none;
  }
  .flex-item-right {
    order: 1;
  }
  .flex-item-left {
    order: 2;
    text-align: center;
  }
}
