@import "reset";
@import "typo";
@import "variables";
@import "utilities";
@import "media-queries";
@import "animation";
@import "button";
@import "header";
@import "banner";
@import "menu";
@import "card";
@import "footer";
@import "register";
@import "profil";
@import "search";
@import "theme";
@import "form";

// scss-docs-start import-stack
// Configuration
.header {
    background-color: $bg-primary;
    height: 196px;
    padding-block: calc(92px /2);
  }
  
  .header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: enchanted-land;
    font-size: 32px;
  }
  
  .header__nav a {
    text-decoration: none;
    color: white;
  }
  
  .banner {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 50px 35px;
    /* background-image: url(Public/assets/img/bg-header-top.svg); */
  }
  
  .banner__text {
    width: 540px;
    color: white;
  }
  
  .banner__text h1 {
    margin: 0;
  }
  
  .banner__text p {
    font-family: WorkSans-Regular;
    font-size: 18px;
  }
  
  .banner__play {
    align-self: flex-end;
  }
  
  .artwork {
    display: flex;
    justify-content: space-between;
    background-image: url(/Public/assets/img/bg-header-top.svg);
    color: white;
    // padding: 50px 35px;
    // height: 600px;
    position: relative;
    width: 100%;
    background-size: contain;
    margin-bottom: 100px;
  }

  .artwork__scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }

  .artwork__scroll--img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 20px;
    border-radius: 5px;
    filter: drop-shadow(20px 10px 4px grey);
    
  }
  
  .artwork__text {
    width: 540px;
  }
  
  .artwork__text h2 {
    margin: 0;
  }
  
  .artwork__text p {
    font-family: WorkSans-Regular;
    font-size: 18px;
  }
  
  .artwork__scroll--img {
    display: flex;
  }
  
  .artwork__scroll--arrow {
    width: 59px;
  }
  
  .artwork__arrow {
    position: absolute;
    bottom: -110px;
    left: -50px;
  }
  
  .artwork__form--top {
    width: 100vw;
    position: relative;
    top: -100px;
  }
  
  .best-seller {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .best-seller h2 {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
  
  .best-seller__cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
  }
  


  .btn__best-seller {
    width: 550px;
    margin: auto;
    margin-block: 50px;
    padding: 15px;
  }

  .confiance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    font-family: WorkSans-regular;
  }

  .confiance__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
  }

  .confiance__card p {
    display: flex;
    justify-content: center;
    margin-block: 0;
  }

  .confiance__card--title {
    font-weight: 600;
  }

  .confiance__card--text {
    display: flex;
    align-content: center;
  }

  .custom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 50px 35px;
    margin-block: 50px;
  }

  .custom__text {
    width: 540px;
    min-width: 470px;
  }

  .custom h2 {
    margin: 0;
  }

  .custom p {
    font-family: WorkSans-regular;
    font-size: 18px;
    margin: 0;
  }

  .custom .btn {
    margin-block: 30px;
  }

  .custom img {
    width: 400px;
  }

  @media (max-width: 1025px) {
    .custom {
        justify-content: center;
    }
    .custom__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }

  .math-description {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    height: 400px;
    margin: 50px 35px;
  }

  .math-description h3 {
    margin: 0;
    font-size: 40px;
  }