<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/css/style.css" rel="stylesheet">
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCywaY5J6pQy-QjxVyM0tQu7Rn6KYCmvSY"></script>
  <script defer src="/Public/Js/api/google/adress.js"></script>

  <title>Mise à jour information</title>
</head>

<body>

  <div class="wrapper">
    <header class="header" role="header">
      <nav class="header__nav">
        <a href="#">Nos Oeuvres</a>
        <a href="#">Personnaliser une creation</a>
        <div class="header__nav--logo">
          <img src="/Public/assets/img/logo-header.svg" alt="Logo">
        </div>
        <a href="#">A propos</a>
        <a href="#">
          <img src="/Public/assets/icons/icon-backet.svg" alt="Panier">
        </a>
        <a href="#">
          <img src="/Public/assets/icons/icon-profil.svg" alt="Utilisateur">
        </a>
      </nav>
    </header>
    <main class="main">
      <form id="form" enctype='multipart/form-data' class="form">
        <h2>Compete information</h2>
        <div class="container">
          <div class="row">
            <div class="col-25">
              <label for="firstname">Nom:</label>
            </div>
            <div class="col-75">
              <input type="text" id="firstname" name="firstname" placeholder="Your name..">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="lastname">Prenom:</label>
            </div>
            <div class="col-75">
              <input type="text" id="lastname" name="lastname" placeholder="Your last name..">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="email">Mail:</label>
            </div>
            <div class="col-75">
              <input type="email" id="email" name="email" placeholder="Your e-mail..">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="tel_1">Telephone n°1:</label>
            </div>
            <div class="col-75">
              <input type="text" id="tel_1" name="tel_1" placeholder="Your firs phone number..">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="tel_2">Telephone n°2:</label>
            </div>
            <div class="col-75">
              <input type="text" id="tel_2" name="tel_2" placeholder="Your last phone number..">
            </div>
          </div>

          <br>
          <div class="collapsible">Adresse</div>

          <div class="content">
            <div class="row">
              <div class="col-25">
                <label for="street_number">Tapper votre adresse</label>
              </div>
              <div class="col-75">
                <input type="text" id="user_input_autocomplete_address" placeholder="Search your address..">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="street_number">Numero de rue:</label>
              </div>
              <div class="col-75">
                <input type="text" id="street_number" name="street_number" placeholder="Your street number..">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="route">Rue:</label>
              </div>
              <div class="col-75">
                <input type="text" id="route" name="route" placeholder="Your street..">
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="postalCode">Code postal:</label>
              </div>
              <div class="col-75">
                <input type="text" id="postalCode" name="postalCode" placeholder="Your postal code..">
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="locality">Ville:</label>
              </div>
              <div class="col-75">
                <input type="text" id="locality" name="locality" placeholder="Your twon..">
              </div>
            </div>

            <div class="row">
              <div class="col-25">
                <label for="country">Pays:</label>
              </div>
              <div class="col-75">
                <input type="text" id="country" name="country" placeholder="Your twon..">
              </div>
            </div>
          </div>
        </div>
      </form>
  </div>

  </div>

  </main>
  <footer class="footer">
    <article class="footer__element">
      <section class="footer__element__payment">
        <h2>Moyens de paiments</h2>
        <div class="footer__element__payment--img">
          <img src="/Public/assets/icons/icon-paiement-paypal.svg" alt="paypal">
          <img src="/Public/assets/icons/icon-paiement-visa.svg" alt="visa">
          <img src="/Public/assets/icons/icon-paiement-mastercard.svg" alt="-mastercard">
        </div>
      </section>

      <section class="footer__element__contact">
        <h2>Nous contacter</h2>
        <address class="footer__payment--address">
          64 rue du porc au fouarre 94560 Hetic sur mer
        </address>
      </section>
      <section class="footer__element__find--us">
        <h2>Retrouvez nous</h2>
        <div class="footer__element__find--us__img">
          <img src="/Public/assets/icons/icon-network-facebook.svg" alt="facebook">
          <img src="/Public/assets/icons/icon-network-etsy.svg" alt="etsy">
          <img src="/Public/assets/icons/icon-network-tiktok.svg" alt="tiktok">
          <img src="/Public/assets/icons/icon-network-insta.svg" alt="instagram">
        </div>
      </section>
    </article>
    <article class="copyright">
      <span class="h3-like"><img src="/Public/assets/icons/icon-copyright.svg" alt="copyright">2020 BY MATH THE
        PRINTER</span>
      <span>COPYRIGHT AND REPRODUCTION RIGHTS RESERVED BY</span>
    </article>
  </footer>
  </div>
  <script>


  </script>
</body>

</html>