<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/confirmCmd.css">
    <title>Confirmation de votre commande</title>
</head>


<body>

    <main class="wrapper__confirmation">
        <img class="casque" src="/Public/assets/img/bg-casque.svg" alt="casque">
        <img class="casque__retourne" src="/Public/assets/img/bg-casque.svg" alt="casque">

        <section class="message">
            <h2>Félicitation !</h2>
            <p>Votre commande n°45363456356 sera validée et traitée dans les plus brefs délais.</p>
            <img class="message__feuille" src="/Public/assets/img/bg-leaf.svg" alt="feuille">
        </section>

    </main>
</body>


</html>