<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Public/css/style.css">
  <script defer src="/Public/Js/check-form/validateForm.js"></script>


  <title>home</title>
</head>

<body>
  <div class="wrapper" style="background : #0f0f0f">

    <main class="form--container">
      <form id="form" enctype='multipart/form-data' class="form">
        <h2>Connection</h2>

        <div class="row">
          <div class="col-25">
            <label for="email">Mail:</label>
          </div>
          <div class="col-75">
            <input type="email" id="email" name="email" placeholder="Your e-mail..">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="" class="">Password:</label>
          </div>
          <div class="col-75">
            <input type="password" placeholder="Your password.." name="password" id="password">
          </div>
        </div>

        <div class="form__control">
          <div class="form__remember">
            <input class="" type="checkbox" role="" id="">
            <label class="" for="">Se souvenir de moi </label>
          </div>

          <div class="form__link--register">
            <span>Pas encore membre?</span> <a href="/views/register.php">Inscription</a>
          </div>
        </div>
        <button class="form__btn--google">
          <img src="/Public/assets/icons/icon-google.svg" alt="">
          Se Connecter avec Google
        </button>

        <div class="form__submit">
          <button type="submit" class="btn small">Envoyer</button>
        </div>
        <p class="form__text">En vous inscrivant sur Math the printer, vous acceptez
          nos conditions d’utilisations, notre Politique de confidentialié
          et notre Politique concernant les cokkies
        </p>
      </form>
    </main>

  </div>
</body>

</html>
<a href="/">home</a>