<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Public/css/style.css">
  <script defer src="/Public/Js/check-form/validateForm.js"></script>


  <title>home</title>
</head>

<body>
  <div class="wrapper">
    <header class="header" role="header">
      <nav class="header__nav">
        <a href="#">Nos Oeuvres</a>
        <a href="#">Personnaliser une creation</a>
        <div class="header__nav--logo">
          <img src="/Public/assets/img/logo-header.svg" alt="Logo">
        </div>
        <a href="#">A propos</a>
        <a href="#">
          <img src="/Public/assets/icons/icon-backet.svg" alt="Panier">
        </a>
        <a href="#">
          <img src="/Public/assets/icons/icon-profil.svg" alt="Utilisateur">
        </a>
      </nav>

      <section class="header-menu__mobile slide-bottom">
        <ul class="nav--menu">
          <li class="item">
            <a href="">Accueil </a>
            <img src="./assets/house-chimney-solid.svg" alt="home">
          </li>
          <li class="item">
            <a href="">Parrcourir</a>
            <img src="./assets/magnifying-glass-solid.svg" alt="search">
          </li>
          <li class="item">
            <a href="">Compte</a>
            <img src="./icons/user-solid.svg" alt="user">
          </li>
          <li class="item">
            <a href="">Panier</a>
            <img src="./assets/shopping-basket-solid.svg" alt="panier">
          </li>
        </ul>
      </section>
    </header>

    <main class="form--container">
      <form id="form" enctype='multipart/form-data' class="form">
        <h2>Connection</h2>

        <div class="row">
          <div class="col-25">
            <label for="email">Mail:</label>
          </div>
          <div class="col-75">
            <input type="email" id="email" name="email" placeholder="Your e-mail..">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="" class="">Password:</label>
          </div>
          <div class="col-75">
            <input type="password" placeholder="Your password.." name="password" id="password">
          </div>
        </div>

        <div class="form__control">
          <div class="form__remember">
            <input class="" type="checkbox" role="" id="">
            <label class="" for="">Se souvenir de moi </label>
          </div>

          <div class="form__link--register">
            <span>Pas encore membre?</span> <a href="/views/register.php">Inscription</a>
          </div>
        </div>
        <button class="form__btn--google">
          <img src="/Public/assets/icons/icon-google.svg" alt="">
          Se Connecter avec Google
        </button>

        <div class="form__submit">
          <button type="submit" class="btn small">Envoyer</button>
        </div>
        <p class="form__text">En vous inscrivant sur Math the printer, vous acceptez
          nos conditions d’utilisations, notre Politique de confidentialié
          et notre Politique concernant les cokkies
        </p>
      </form>
    </main>

  </div>
</body>

</html>
<a href="/">home</a>