<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Panier</title>
  <link rel="stylesheet" href="/Public/css/product.css" />
  <link rel="stylesheet" href="/Public/css/panier.css" />
  <!-- <script defer src="/Public/Js/function.js"></script> -->
  <script defer src="/Public/Js/function.js"></script>
  <script defer src="/Public/Js/addBasket.js"></script>
  <!-- <script defer src="/Public/Js/AddBasket.js"></script> -->

</head>

<body>
  <header class="header" role="header">
    <nav class="header__nav">
      <a href="#">Nos Oeuvres</a>
      <a href="#">Personnaliser une création</a>
      <img loading="lazy" src="/Public/assets/img/logo-header.svg" alt="Logo" width="320" height="104" />
      <a href="#">À propos</a>
      <a href="product.html">
        <img loading="lazy" src="/Public/assets/icons/icon-backet.svg" alt="Panier" />
      </a>
      <a href="views/login.html">
        <img loading="lazy" src="/Public/assets/icons/icon-profil.svg" alt="Utilisateur" />
      </a>
    </nav>
  </header>
  <main class="bg-black">
    <div class="flex center">
      <div class="align_left width67">
        <h1 class="enchanted white ft45">Panier</h1>
      </div>

    </div>
    <section class="flex center padding20">
      <div class="width100 bg-white pd25 borderRadius7">


        <section class="panier_header">
          <div class="text_center panier_item_width20">N°</div>
          <div class="text_center panier_item_width90">Article</div>
          <div class="text_center panier_item_width200">Description</div>
          <div class="text_center panier_item_width60">Montant</div>
          <div class="text_center panier_item_width80">Etat</div>
          <div class="text_center panier_item_width110">Qté</div>
        </section>

        <div id="panierList" class="contentBaskets">


        </div>

        <button class="product_s1_card_btn" id="total-basket">Total</button>
      </div>
    </section>


  </main>
</body>

</html>