<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Panier</title>
  <link rel="stylesheet" href="/Public/css/product.css" />
  <link rel="stylesheet" href="/Public/css/panier.css" />
  <!-- <script defer src="/Public/Js/function.js"></script> -->
  <script defer src="/Public/Js/function.js"></script>
  <script defer src="/Public/Js/addBasket.js"></script>
  <!-- <script defer src="/Public/Js/AddBasket.js"></script> -->

</head>

<body>
  <header class="header" role="header">
    <nav class="header__nav">
      <a href="#">Nos Oeuvres</a>
      <a href="#">Personnaliser une création</a>
      <img loading="lazy" src="/Public/assets/img/logo-header.svg" alt="Logo" width="320" height="104">
      <a href="#">À propos</a>
      <a href="panier.html" class="header__nav--badge">
        <span class="badge">6</span>
        <div class="tooltip">
          <img src="/Public/assets/icons/icon-backet.svg" alt="Panier">
          <div class="bottom" style="background-color:#0f0f0f;color:white;padding : 25px;border: 1px solid rgba(253, 253, 253, 0.355)">
            <h3 style="margin: 0px;font-size:30px;font-weight: 100;">Mon panier</h3>
            <div class="panier_item" style="display: flex;justify-content:center;align-item:center;flex-direction:row;gap: 15px ;padding:25px;font-size: 12px;">
                
                <img class="panier_item_product_img" src="https://picsum.photos/60/60" alt="" style="border: 1px solid white">
                <div class="" style="display: flex;flex-direction:column">
                  <div class="flex row gap10"> <p style="width: max-content;font-size: 22px; margin-bottom: 5px;">Gravure fait à la main art</p> </div>
                  <div class="flex row gap10 colorGray" style="width: max-content">
                    <p>Quantité :</p>
                    <p>25</p>
                </div>
                  <div class="flex row gap10 colorGray" style="width: max-content">
                    <p>Montant :</p>
                    <p>259€</p>
                  </div>
                </div>
                </div>
                <div class="flex center column gap10">
                  <a href="panier.html"  class="panier_btn_headerSecondary scaleHover">Editer</a>
                  <a href="panier.html"  class="panier_btn_header scaleHover">Passer à la commande</a>
                </div>
              </div>
              <div></div>
              <div></div>
            </div>
            <!-- <button class="product_s1_card_btn" type="button">Editer</button> -->
          </div>
        </div>
      </a>
      <a href="views/login.html">
        <img loading="lazy" src="/Public/assets/icons/icon-profil.svg" alt="Utilisateur">
      </a>
    </nav>
  </header>
  <main class="bg-black">
    <div class="flex center">
      <div class="align_left width67">
        <h1 class="enchanted white ft45">Panier</h1>
      </div>

    </div>
    <section class="flex center padding20">
      <div class="width100 bg-white pd25 borderRadius7">


        <section class="panier_header">
          <div class="text_center panier_item_width20">N°</div>
          <div class="text_center panier_item_width90">Article</div>
          <div class="text_center panier_item_width200">Description</div>
          <div class="text_center panier_item_width60">Montant</div>
          <div class="text_center panier_item_width80">Etat</div>
          <div class="text_center panier_item_width110">Qté</div>
        </section>

        <div id="panierList" class="contentBaskets">


        </div>

        <div class="flex gap15 width100 center" style="justify-content: flex-end;">
          <div class="flex center gap10 pd13" style="background-color: white;border:1px solid #0f0f0f;border-radius:10px"><p>Total : </p><p id="total-basket">___€</p></div>
          <div>
            <a href="#" class="product_s1_card_btn widthMax heightMin scaleHover borderBlackHover">Commander</a>
          </div>
        </div>
      
      </div>
    </section>


  </main>
</body>

</html>