<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Public/css/style.css">
  <script defer src="/Public/Js/basket.js"></script>

  <title>home</title>
</head>

<body>
  <div class="wrapper">
    <header class="header" role="header">
      <nav class="header__nav">
        <a href="#">Nos Oeuvres</a>
        <a href="#">Personnaliser une création</a>
        <img src="/Public/assets/img/logo-header.svg" alt="Logo" width="320" height="104">
        <a href="#">À propos</a>
        <a href="#">
          <div class="tooltip">
            <img src="/Public/assets/icons/icon-backet.svg" alt="Panier">
            <div class="bottom">
              <img src="https://i.ibb.co/hM8fjQ8/thrn-7.jpg" />
              <h3>le panier</h3>
              <p>The CSS tooltip appears when user moves the mouse over an element, or when user tap the element with a
                mobile
                device.</p>
              <i></i>
            </div>
          </div>
        </a>
        <a href="views/login.html">
          <img src="/Public/assets/icons/icon-profil.svg" alt="Utilisateur">
        </a>
      </nav>
    </header>
    <!-- le main -->
    <main class="main">
      <div class="profil">
        <div class="profil__container">
          <h2>Mes commandes</h2>
        </div>
        <div class="profil__container">
          <h2>Adresse et paiements</h2>
        </div>
        <div class="profil__container">
          <h2>Connexion & sécurité</h2>
        </div>
      </div>
    </main>
    <footer class="footer">
      <article class="footer__element">
        <section class="footer__element__payment">
          <h2>Moyens de paiments</h2>
          <div class="footer__element__payment--img">
            <img src="/Public/assets/icons/icon-paiement-paypal.svg" alt="paypal">
            <img src="/Public/assets/icons/icon-paiement-visa.svg" alt="visa">
            <img src="/Public/assets/icons/icon-paiement-mastercard.svg" alt="-mastercard">
          </div>
        </section>

        <section class="footer__element__contact">
          <h2>Nous contacter</h2>
          <address class="footer__payment--address">
            64 rue du porc au fouarre 94560 Hetic sur mer
          </address>
        </section>
        <section class="footer__element__find--us">
          <h2>Retrouvez nous</h2>
          <div class="footer__element__find--us__img">
            <img src="/Public/assets/icons/icon-network-facebook.svg" alt="facebook">
            <img src="/Public/assets/icons/icon-network-etsy.svg" alt="etsy">
            <img src="/Public/assets/icons/icon-network-tiktok.svg" alt="tiktok">
            <img src="/Public/assets/icons/icon-network-insta.svg" alt="instagram">
          </div>
        </section>
      </article>
      <article class="copyright">
        <span class="h3-like"><img src="/Public/assets/icons/icon-copyright.svg" alt="copyright">2020 BY MATH THE
          PRINTER</span>
        <span>COPYRIGHT AND REPRODUCTION RIGHTS RESERVED BY</span>
      </article>
    </footer>
  </div>
</body>

</html>