@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
  line-height: 1.5;
}

p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
textarea {
  font-size: 1em;
  /* equiv 14px */
  line-height: 1.5;
  margin: 1.5em 0;
}

h1,
.h1-like {
  font-size: 70px;
  /* equiv 26px */
  line-height: 1.6154;
}

h2,
.h2-like {
  font-size: 68px;
  /* equiv 24px */
  line-height: 1.75;
}

h3,
.h3-like {
  font-size: 1.5714em;
  /* equiv 22px */
  line-height: 1.909;
}

h4,
.h4-like {
  font-size: 1.4286em;
  /* equiv 20px */
  line-height: 1.05;
  margin: 2.1em 0 1.05em 0;
}

h5,
.h5-like {
  font-size: 1.2857em;
  /* equiv 18px */
  line-height: 1.1667;
  margin: 2.3334em 0 1.1667em 0;
}

h6,
.h6-like {
  font-size: 1.1429em;
  /* equiv 16px */
  line-height: 1.3125;
  margin: 2.625em 0 1.3125em 0;
}

.smaller {
  font-size: 0.7143em;
  /* equiv 10px */
  line-height: 2.1;
  margin: 2.1em 0 2.1em 0;
}

.small {
  font-size: 0.8571em;
  /* equiv 12px */
  line-height: 1.75;
  margin: 1.75em 0 1.75em 0;
}

.big {
  font-size: 1.1429em;
  /* equiv 16px */
  line-height: 1.3125;
  margin: 1.3125em 0 1.3125em 0;
}

.bigger {
  font-size: 1.2857em;
  /* equiv 18px */
  line-height: 1.1667;
  margin: 1.1667em 0 1.1667em 0;
}

.biggest {
  font-size: 1.4286em;
  /* equiv 20px */
  line-height: 1.05;
  margin: 1.05em 0 1.05em 0;
}

/* avoid collapsing margins
you might need this, depending on your design
*/
/*
h1:first-child, 
h2:first-child, 
h3:first-child, 
h4:first-child, 
h5:first-child, 
h6:first-child {
    margin-top: 0;
}
*/
/* avoid last-child bottom margin */
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
blockquote:last-child,
pre:last-child,
table:last-child {
  margin-bottom: 0;
}

/* avoid supp margin on nested elements */
li p,
li ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* you shall not pass */
textarea,
table,
td,
th,
code,
pre,
samp,
div,
p {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

code,
pre,
samp {
  white-space: pre-wrap;
  font-family: consolas, "DejaVu Sans Mono", courier, monospace;
}

code {
  line-height: 1;
}

table {
  margin-bottom: 1.5em;
}

@font-face {
  font-family: "enchanted-land";
  src: url(/Public/font/enchanted-land.woff);
}
@font-face {
  font-family: "WorkSans-Bold";
  src: url(/Public/font/WorkSans-Bold.woff);
}
@font-face {
  font-family: "WorkSans-LightItalic";
  src: url(/Public/font/WorkSans-LightItalic.woff);
}
@font-face {
  font-family: "WorkSans-Regular";
  src: url(/Public/font/WorkSans-Regular.woff);
}
h1,
h2,
h3,
h4 {
  font-family: "enchanted-land";
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #ededed;
}

input:focus {
  border: 2px solid yellow;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 10%;
  margin: 0 auto;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.tooltip {
  display: inline-block;
  position: relative;
  border-bottom: 1px dotted #666;
  text-align: left;
}

.tooltip h3 {
  margin: 12px 0;
}

.tooltip .bottom {
  min-width: 400px;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  color: #0a0808;
  background-color: #eeeeee;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: none;
}

.tooltip:hover .bottom {
  display: block;
}

.tooltip .bottom img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.tooltip .bottom i {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tooltip .bottom i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: #eeeeee;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* voici un mixin 
```scss */
.btn {
  margin: 0 !important;
  padding: 15px 70px;
  width: auto;
  background: #f1bc1e;
  box-shadow: 0px 0px 12px rgba(186, 153, 105, 0.23), 0px 0px 64px rgba(186, 153, 105, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  border: none;
  font-size: 24px;
  font-family: "WorkSans-Bold";
}

.input-form {
  width: 350px;
  height: 45px;
  background: #0a0808;
  box-shadow: inset 4px -4px 8px rgba(0, 0, 0, 0.25), inset -4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 2px solid #f1bc1e;
}

.input-form-white {
  width: 400px;
  height: 45px;
  background: white;
  box-shadow: inset 4px -4px 8px rgba(0, 0, 0, 0.25), inset -4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #0a0808;
}

.btn__card {
  font-size: 12px;
  background: #f1bc1e;
  box-shadow: 0px 0px 12px rgba(186, 153, 105, 0.23), 0px 0px 64px rgba(186, 153, 105, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  border: none;
  font-family: "WorkSans-Bold";
  height: 30px;
  padding-inline: 5px;
  align-self: flex-end;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 41px 0px 41px 16px;
  gap: 10px;
  width: 100%;
  height: 196px;
  background: #0a0808;
}
.header__nav {
  width: calc(100% - 10px);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "enchanted-land";
  font-size: 32px;
}
.header__nav--logo {
  width: 320px;
  height: 104px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .header__nav--logo {
    width: 100px;
    height: 27px;
  }
}
@media (max-width: 767px) {
  .header__nav--logo {
    width: 160px;
    height: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .header__nav--logo {
    display: none;
    width: 120px;
    height: 34px;
  }
}
.header__nav a {
  margin-inline: 5px;
}
@media (max-width: 767px) {
  .header__nav a {
    font-size: 24px;
    background: red;
    text-align: center;
    line-height: 20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .header__nav {
    font-size: 24px;
    background: red;
  }
}
@media (max-width: 767px) {
  .header__nav {
    font-size: 28px;
    background: blue;
  }
}
@media (max-width: 480px) {
  .header__nav {
    font-size: 18px;
    background: yellow;
  }
}

.header-menu__mobile {
  z-index: 99999;
  position: fixed;
  bottom: 0px;
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
  border-radius: 15px 15px 0 0px;
  background-color: #fff;
}
.header-menu__mobile .nav--menu {
  display: flex;
  width: 100%;
}
.header-menu__mobile .nav--menu .item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
  gap: 20px;
}
.header-menu__mobile .nav--menu .item img {
  height: 1.5625rem;
  order: 1;
  color: #000;
}
.header-menu__mobile .nav--menu .item a {
  color: #000;
  order: 2;
  font-size: 15px;
}

@media (min-width: 760px) {
  .header-menu__mobile {
    display: none;
  }
}
.card {
  width: 320px;
  background-color: grey;
  border-radius: 5px;
  font-family: WorkSans-Regular;
  color: white;
}

.card img {
  width: inherit;
}

.card__description {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card__description--text {
  height: 60px;
}

.card__description--text p {
  margin: 0;
}

.footer {
  padding-top: 20px;
  color: #ededed;
  background-color: #0a0808;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 50px;
  padding-inline: 30px;
}
.footer__element {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.footer__element__payment {
  width: 28.5714285714%;
  display: flex;
  flex-direction: column;
}
.footer__element__payment--img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer__element__contact {
  width: 28.5714285714%;
  display: flex;
  flex-direction: column;
}
.footer__element__contact address {
  font-size: 22px;
}
.footer__element__find--us {
  width: 28.5714285714%;
  display: flex;
  flex-direction: column;
}
.footer__element__find--us__img {
  justify-content: space-between;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer .copyright {
  display: flex;
  flex-direction: column;
}

.wrapper {
  background: #0a0808;
}

.form--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px;
}
.form--container .form {
  background: #ededed;
  display: flex;
  border: 1px solid #0a0808;
  flex-flow: column nowrap;
  padding: 20px;
  gap: 30px;
  width: 550px;
  padding: 30px;
  border-radius: 10px;
}
.form--container .form__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form--container .form__control :first-child {
  font-size: 18px;
}
.form--container .form__control a {
  color: #f1bc1e;
  text-decoration: double !important;
}
.form--container .form__submit {
  margin: 0 auto;
}
.form--container .form__btn--google {
  width: 400px;
  height: 45px;
  background: white;
  box-shadow: inset 4px -4px 8px rgba(0, 0, 0, 0.25), inset -4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #0a0808;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.form--container .form__text {
  text-align: center;
}
.form--container .form__text a {
  color: #0a0808;
  text-decoration: dashed !important;
}
.form--container ::placeholder {
  padding-left: 10px;
  font-style: italic;
}

#mode {
  border: 1px;
  border-radius: 15px;
  cursor: pointer;
}

.dark {
  background-color: #112f41;
  color: #000;
}

.dark #mode {
  background: #144098;
  color: #fff;
}

.dark h3 {
  color: #fff;
}

.card-title {
  color: #000 !important;
}

.dropdown-menu li {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}
.dropdown-menu li a {
  text-decoration: none;
}

.dropdown-menu li:hover {
  background: #0a0808;
  border-radius: 10px;
}
.dropdown-menu li:hover a {
  color: white;
}

/* ToolTip classses */
.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  margin-left: 370px;
  width: 320px;
  visibility: hidden;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #aeaeae;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: -30px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 5%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #aeaeae transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: 0px;
  padding-right: 10px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  padding-right: 10px;
  position: relative;
  left: 0px;
  content: "✖";
}

.main {
  width: 80%;
  background: white;
  margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #f1bc1e;
  color: #0a0808;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
.col-75,
input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {
  background-color: #04aa6d;
}

.alert.info {
  background-color: #2196f3;
}

.alert.warning {
  background-color: #ff9800;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.main {
  background: green;
}
.main .profil {
  width: 100%;
  background-color: #50505e;
  padding: 30px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main .profil__container {
  width: 500px;
  padding: 20px;
  background-color: #ededed;
  border: 1px solid red;
}

.header {
  background-color: #0a0808;
  height: 196px;
  padding-block: 46px;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: enchanted-land;
  font-size: 32px;
}

.header__nav a {
  text-decoration: none;
  color: white;
}

.banner {
  display: flex;
  justify-content: space-between;
  background: black;
  padding: 50px 35px;
  /* background-image: url(Public/assets/img/bg-header-top.svg); */
}

.banner__text {
  width: 540px;
  color: white;
}

.banner__text h1 {
  margin: 0;
}

.banner__text p {
  font-family: WorkSans-Regular;
  font-size: 18px;
}

.banner__play {
  align-self: flex-end;
}

.artwork {
  display: flex;
  justify-content: space-between;
  background-image: url(/Public/assets/img/bg-header-top.svg);
  color: white;
  position: relative;
  width: 100%;
  background-size: contain;
  margin-bottom: 100px;
}

.artwork__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.artwork__scroll--img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 20px;
  border-radius: 5px;
  filter: drop-shadow(20px 10px 4px grey);
}

.artwork__text {
  width: 540px;
}

.artwork__text h2 {
  margin: 0;
}

.artwork__text p {
  font-family: WorkSans-Regular;
  font-size: 18px;
}

.artwork__scroll--img {
  display: flex;
}

.artwork__scroll--arrow {
  width: 59px;
}

.artwork__arrow {
  position: absolute;
  bottom: -110px;
  left: -50px;
}

.artwork__form--top {
  width: 100vw;
  position: relative;
  top: -100px;
}

.best-seller {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.best-seller h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.best-seller__cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.btn__best-seller {
  width: 550px;
  margin: auto;
  margin-block: 50px;
  padding: 15px;
}

.confiance {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  font-family: WorkSans-regular;
}

.confiance__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.confiance__card p {
  display: flex;
  justify-content: center;
  margin-block: 0;
}

.confiance__card--title {
  font-weight: 600;
}

.confiance__card--text {
  display: flex;
  align-content: center;
}

.custom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 50px 35px;
  margin-block: 50px;
}

.custom__text {
  width: 540px;
  min-width: 470px;
}

.custom h2 {
  margin: 0;
}

.custom p {
  font-family: WorkSans-regular;
  font-size: 18px;
  margin: 0;
}

.custom .btn {
  margin-block: 30px;
}

.custom img {
  width: 400px;
}

@media (max-width: 1025px) {
  .custom {
    justify-content: center;
  }

  .custom__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.math-description {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  height: 400px;
  margin: 50px 35px;
}

.math-description h3 {
  margin: 0;
  font-size: 40px;
}

/*# sourceMappingURL=style.css.map */
